* {
    text-align: center;
}

.center {
    display: inline-block;
}

.flex-container {
    display: flex;
}

.margin {
    margin-left: 10%;
    margin-right: 10%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar li {
    text-decoration: none;
    list-style: none;
    padding: 1rem;
}

header a:hover {
    text-decoration: underline;
}